<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Home - The 90's GYM | Lets build strength<</title>
</head>
<body>
  <nav>
    <h1>The 90's GYM | Lets build strength</h1>
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('about') }}">About Us</a></li>
      <li><a href="{{ url_for('membership') }}">Membership</a></li>
    </ul>
  </nav>

  <section class="hero">
    <h1>Transform Your Body, Transform Your Life</h1>
    <p>Join the #1 Fitness Destination — Strength. Power. Passion.</p>
    <a href="{{ url_for('membership') }}"><button class="btn">Join Now</button></a>
  </section>

  <footer>
    © The 90's GYM | Lets build strength
  </footer>
</body>
</html>
